//META{"name":"SOMA","description":"A theme based on Frictional Games' 2015 horror game.","author":"Abion47","version":"1.0.0"}*//{}

@import url("https://cdn.rawgit.com/Abion47/soma-discord-theme/7024b399/SOMA.theme.css");

:root {

	--main-color: rgba(37,172,232,1);
	--main-color-faded: rgba(37,172,232,0.4);
	--accent-color: rgba(29,101,134,1);

	/* Modal Background Color / Opacity */
	--short-gradient: linear-gradient(45deg, rgba(29,101,134,0.5), rgba(37,172,232,0.5));
	--short-gradient-faded: linear-gradient(45deg, rgba(29,101,134,0.1), rgba(37,172,232,0.1));

}
